################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
*.jar

#Visual Studio Code Files
/.vscode
